# Retrieve your GA ID from your GA dashboard
GOOGLE_ANALYTICS_ID=G-XXXXXXX
API_URL=http://127.0.0.1:8000/api
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api
NEXT_PUBLIC_ADMIN_PORTAL_URL=https://admin.punchcardku.com